$colors: (
  primary:   #0B2A3E,
  secondary:  #2A4657,
  white: #fff,
  grey: #bdbdbd,
  greyLight: #eee,
  greyDark: #616161,
  cta: #195E8A,
  ctaHover: #2692D7,
  text: #212121,
);

@each $value in $colors {
  .text-#{nth($value, 1)} {
    color: nth($value, 2) !important;
  }
  .bg-#{nth($value, 1)} {
    background-color: nth($value, 2) !important;
  }
}
