.main-section {
  position: relative;
  @include media-breakpoint-up(md) {
    min-height: 360px;
  }
  &:before {
    content: "";
    width: 100%;
    top: 0;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.6)
  }
}
